@font-face { font-family: 'Toppan'; src: url('file:///Users/yoshizawakouichi/Library/Application%20Support/Adobe/CoreSync/plugins/livetype/.r/.42307.otf'); }
@font-face { font-family: 'SHSHeavy'; src: url('file:///Users/yoshizawakouichi/Library/Application%20Support/Adobe/CoreSync/plugins/livetype/.r/.41309.otf'); }
@font-face { font-family: 'SHSerifH'; src: url('file:///Users/yoshizawakouichi/Library/Application%20Support/Adobe/CoreSync/plugins/livetype/.r/.33854.otf'); }
